.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

::selection {
  background: #fafafa;
  color: #09090b;
}

button,
label,
input[type="file"] {
  transition-property: color, background-color, border-color, opacity;
  transition-duration: 200ms;
}